@import url(./reset.css);
@import url(./common.css);

/*인덱스 페이지 내용*/

/*----공통 스타일 명령----*/
html{font-size: 16px;}

body{
    color: #555;
}

.title> h2{
    color: black;
    font-size: 40px;
    text-transform: uppercase;
}

.title> p{
    padding-top: 10px;
    color: #555;
}

/*===========================header===========================*/
header{
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    padding: 50px 0;
}

header > div{
    width: 1300px;
    margin: 0 auto;
    display : flex;
    justify-content : space-between;
    align-items : center;
}
header > div > h1{
    font-size: 20px;
}
header > div > h1 > a{
    color: gray;
}

header > div > nav{}
header > div > nav > a{
    color: gray;
    font-size: 20px;
    padding: 0 0 0 20px;
}
header > div > nav > a:nth-of-type(1){}
header > div > nav > a:nth-of-type(2){}
header > div > nav > a:nth-of-type(3){}
/*-----------------------*/
.spot{
    width: 100%;
    height: 100vh;
    background: url(../imgs/img_main-spot.jpg) 0 0 / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spot > div{
    color: white;
}
    
/*inherit 부모의 값을 상속받음*/
.spot > div > b{
    font-size: 62px;
    color: inherit;
}
.spot > div > p{
    font-size: 18px;
    color: inherit;
    padding: 20px 0 30px;
}
.spot > div > a{
    color: inherit;
    background-color: #5977C2;
    padding: 10px 30px;
    display: inline-block;
    border: 1px solid black;

    transition: 0.5s;
}
.spot > div > a:hover{
    background-color: darkblue;
}
/*
=====================================================
============================about==========================
=====================================================
*/
.about{
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.about .title,
.about .contents{
    width: 1300px; 
    margin: 0 auto;
}

.about .title{
    
}
.about .title > h2{}
.about .title > p{
    
}

.about .contents{
    display: flex;
    justify-content: center;
    margin: 60px auto 0 auto;
}
.about .contents > figure{
    display : flex;
    flex-wrap : wrap;
    justify-content : center;
}
.about .contents > figure > p{}
.about .contents > figure > p img{
    background-color: #5977C2;
    padding: 50px;
    border-radius: 100%;
    transition: 0.5s;
}
.about .contents > figure:hover > p img{
    border-radius: 30%;
    background-color: pink;
}
.about .contents > figure > figcaption{
    padding-top: 10px;
}
.about .contents > figure > figcaption > b{
    font-size: 24px;
    color: black;
}
.about .contents > figure > figcaption > p{
    padding: 0 10px;
}

/*
=====================================================
============================portfolio==========================
=====================================================
*/
.portfolio{
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
    background-color: #eee;
}

   
.portfolio .title,
.portfolio .contents{
    width: 1300px; 
    margin: 0 auto;
}

.portfolio .contents{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
    margin: 60px auto 0 auto;
}

.portfolio .contents > figure{
    flex: 0 0 32%;
    margin-bottom: 2%;

    /* 
    flex: 0 0 30%; *한줄표현식*
    flex-grow: 0; *비율*
    flex-shrink: 0; *1 부모의 넓이를 따라감, 0 부모의 영향을 안받음*
    flex-basis: 30%; *아이템의 초기값* 
    */
}

.portfolio .contents > figure > p{
    /*height: 300px; 는 hover속성을 width를 사용할때. transform 자체가 확대의 의미를 가지고 있고 height는 따로 안줘도 됨.*/
    overflow: hidden;
}
.portfolio .contents > figure > p img{ 
    width: 100%;
    transition: 0.5s;
}
.portfolio .contents > figure:hover > p img{ 
    transform: scale(1.2);/*120%*/
}

.portfolio .contents > figure > figcaption{}
.portfolio .contents > figure > figcaption > b{}
.portfolio .contents > figure > figcaption > p{
    padding: 0 10px;
}

/*
=====================================================
==========================contact==========================
=====================================================
*/
.contact{
    background-color: #5d5d5d;
    padding: 100px 0;
    text-align: center;
}
.contact h2,
.contact p{
    color: white;
}
.contact .contents{
    width: 1300px;
    margin: 60px auto 0 auto;
}